[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/rwmjones/riscv-linux
	branch = riscv-linux-4.15
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/atishp04/riscv-pk
	branch = microsemi_node_v2_only
